@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

*,
*:after,
*:before {
	box-sizing: border-box;
}

body,
html {
    margin: 0;
	height: 100vh; /* ocupa 100% da tela */
	font-family: 'Open Sans', sans-serif;
}

body{
	background-color: #eee;
	height: 100vh;
}

/* ------------------- NAV ---------------------- */
.navbar {
	background-color: #fff;
	border-bottom: 2px solid lightgrey;
	display: grid;
    place-content: center; /* coloca o nossa div no centro*/
	width: 100%;
}

.navbar__div {	
	width: 400px;
	display: flex;
	justify-content: space-between;
	padding: 0.5em 1.5em;
}

.navbar__logo {
	width: 9em;
}

.navbar__icon{
	padding-top: 0.8rem;
}
/* ------------------- END NAV ---------------------- */


/* ------------------- HEADER ---------------------- */
.header {
	margin: 0.7rem;
	
}

.header__list {
    list-style-type: none;
    display: flex;
	padding: 0;
}

.header__item {
	/*padding: 0.3em 0.5em;
	margin-right: 0.5em;*/
	
	position:relative;
	width: 100px;
	height: 100px;
	cursor: pointer;
}

.header__item--active{
	/*background-color: red;
	border-radius: 5rem;
	padding-top: .6rem;
	padding: 1rem;*/
}


.header__img {
	/*height: 5rem;
	border-radius: 5rem;*/

	position:absolute;
	left:50%;
	top:50%;
	transform:translate(-50%, -50%);
	width:70px;
	border-radius:50%;
}


.header__svg {
	fill:none;
	stroke:#8a3ab8;
	stroke-width:3px;
	stroke-dasharray:1;
	stroke-dashoffset:0;
	stroke-linecap:round;
	animation:loading 4500ms ease-in-out infinite alternate;
  }
  @keyframes loading {
	100% {
	  stroke:#cd476b;
	  stroke-dasharray:10;
	  transform:rotate(200deg);
	}
  }
/* ------------------- END HEADER ---------------------- */

/* ------------------- POSTS ---------------------- */
main {
	background: #eee;
    display: grid;
    place-content: center; /* coloca o nosso card no centro*/
    font-family: sans-serif;
}

.post {
	width: 370px;
	background-color: white;
	border: 2px solid lightgrey;
	border-radius: .7rem;
	margin: 1rem 0;
	
}

.post__header {
	padding: 0.5rem;
	display: flex;
	justify-content: space-between;

}

.post__header div {
	display: flex;
	justify-content: space-between;
	cursor: pointer;
}

.header__img--post {
	
	border-radius:50%;
	height: 50px;
	
}

.post__header p{
	font-weight: bold;
	font-size: 15px;
	margin-left: 0.5rem;
}

.post__elipsis {
	padding-top: .7rem;
	cursor: pointer;
}

.post__content img{
	width: 100%;
}

.post__content__actions {
	display: flex;
	justify-content: space-between;
}

.post__content__actions i {
	padding: 0.7rem 1rem;
	cursor: pointer;
}

.post__footer {
	display: flex;
	justify-content: flex-start;
	background-color: rgb(230, 230, 230);
	
}

.post__footer__img {
	width: 35px;
	height: 35px;
	border-radius:50%;
	margin-right: 1rem;
	margin: 0.4rem;
}

.post__footer p {
	font-size: 14px;
}

/* ------------------- END POSTS ---------------------- */




